:root {
  --text-color: #bbbbbb;
}

h1 {
  color: var(--text-color);
}

ruby {
  ruby-position: under
}

body {
  font-size: 1em;
  color: var(--text-color);
}

.table-wrap {
  overflow-x: scroll;
}

.table {
  width: 100%;
  max-width: 768px;
  border-collapse: collapse;
}

.table th,
td {
  border: 1px solid #bbbbbb;
  padding: 4px 8px;
}


span {
  display: inline-block;
}