<!--style>
  @import url("css/hamburger-menu.css");
</style-->

<link rel="stylesheet" href="static/hamburger-menu.css">

<header>
  <div class="hamburger-menu">
    <input type="checkbox" id="menu-btn-check">
    <label for="menu-btn-check" class="menu-btn"><span id=bar></span></label>
    <!--ここからメニュー-->
    <div class="menu-content">
      <ul>
        <li>
          <a href="index.html">ホーム</a>
        </li>
        <li>
          <a href="lexical_structure.html">字句構造</a>
        </li>
        <li>
          <a href="hello/">Hello</a>
        </li>
      </ul>
    </div>
    <!--ここまでメニュー-->
  </div>
</header>